<%= form_for([@thread_forum, @thread_forum.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>