<%= form_for([@thread_forum, @thread_forum.comments.build], class: "new-comment") do |f| %>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn pull-right" %>
  </div>
<% end %>