<div class="container">
<h1>Thread forums</h1>

<%= render :partial => 'shared/threads_table', :locals => {:thread_forums => @thread_forums} %>

<br />

<%= link_to 'New Thread forum', new_thread_forum_path,:class=>'btn',:role=>'button'%>
</div>