<h1>Thread forums</h1>

<%= render :partial => 'shared/threads_table', :locals => {:thread_forums => @thread_forums} %>

<br />

<%= link_to 'New Thread', new_thread_forum_path,:class=>'btn btn-primary',:role=>'button'%>
